[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]

[requires]
python_version = "3.11"

O Pipfile é um arquivo usado pelo pipenv, uma ferramenta que gerencia dependências e ambientes virtuais Python de forma simples e 
organizada. Ele substitui o tradicional requirements.txt, oferecendo mais controle e informações sobre o ambiente.

Define a fonte de onde os pacotes Python serão baixados.
No caso, o repositório oficial do PyPI (Python Package Index).
verify_ssl = true garante que a conexão com o repositório seja segura.
